* {
  border: 1px solid black;
  background-color: #5A7A5F;
  font-family: 'Roboto', sans-serif;
}
html {
  max-width: 100%;
  max-height: 100%;
}

body {
  min-width: 1000px;
}
#container {
  padding-left: 0px;
  padding-right: 0px;
}
#container .column {
  position: relative;
  float: left;
}

#left {
  width: 40%;
  min-height: 560px;
  padding: 0 20px;
  right: 0;
  left: 0;
  margin-left: -20px;
  position: fixed;
}

#center {
  padding: 10px 10px;
  width: 45%;
  min-height: 550px;
  background-color: #eae6d7;
  overflow-y: auto;
  overflow-x: hidden;
  /*white-space: nowrap;*/
}

#right {
  width: 9%;
  min-height: 560px;
  padding: 0 10px;
  margin-right: -50px;
  position: fixed;
}

h1 {
   line-height: 75px;
   font-family: 'Ultra', serif;
   font-weight: 300;
   font-size: 2.5em;
   color: #eadfB9;
   padding: 0% 0% 2% 1%;
   margin: 0% 8% 4% 35%;

}

nav, nav ul, nav li, nav a {

  list-style-type: none;
  margin-bottom: 15px;
  padding: : 3px;
  width: 160px;
  display: block;
  text-align: center;
  text-decoration: none;

}

nav{
  margin-left: 35%;
}

a:active {
  outline-width: thick;
  font-weight: 700
  color: inherit;
}

a:hover{

}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

i.icon_facebook:before {
    content: "\f082";
    font-family: FontAwesome;
    font-size:60px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#eadfB9;
    /*padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;*/
}

i.icon_instagram:before {
    content: "\f16d";
    font-family: FontAwesome;
    font-size:60px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#eadfB9;
    /*padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;*/
}

i.icon_twitter:before {
    content: "\f081";
    font-family: FontAwesome;
    font-size:60px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:#eadfB9;
    /*padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;*/
}

article {
  padding: 3px 3px 3px 3px;
  overflow: scroll;
}
/*     background-color: #5A7A5F; */
/*     background-color: #eae6d7; */
